.WeatherApp{
    text-align: center;
}
.WeatherApp h1{
    color: #21234A;
    font-size: 3rem;

}
.header img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 100px;
   
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}